# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (opcional - pode comentar se quiser versionar configs)
.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# FIREBASE 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# LOCAL CONFIG 
android/local.properties